body
{
	background-image:url(Images/Galaxy.jpg);
	font-family:"Trebuchet MS", Helvetica, sans-serif;
	color:white;
	margin-left:100px;
	margin-right:100px;
	margin-top:50px;
}

.spacing
{
	line-height:5px;
}

a 
{
	color:lightblue;
}