body
{
	background-image:url(Galaxy.jpg);
	font-family:"Trebuchet MS", Helvetica, sans-serif;
	color:white;
	margin-left:100px;
	margin-right:100px;
	margin-top:50px;
}

table, td, tr, th
{
	border: 2px solid white;
	border-collapse:collapse;
	width:650px;
	padding:13px;
	background-color:grey;
}

h2
{
	font-size:25px;
	background-color:#67C4D9;
	line-height:35px;
}

a 
{
	color:lightblue;
}

ol
{
	list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color:#85C1E9;
	line-height:5px;
}

.li
{
	font-size:18px;
	float:left;
	border-right:1px solid black;
}

li:last-child 
{
    border-right: none;
}

li a 
{
	display:block;
    color:white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li
{
	font-size:18px;
}

.img
{
	text-align:left;
}

.spacing
{
	line-height:5px;
}

#heading
{
	font-size:40px;
}

#spacing
{
	line-height:50px;
}

#sources
{
	font-size:20px;
}
