body
{
	background-image: url(SnowFalling.jpg);
	font-family: "Trebuchet MS", Helvetica, sans-serif;
	margin-left: 100px;
	margin-right: 100px
}

h1
{
	color: white;
}

h2
{
	line-height: 50%;
	color: lightblue;
}

p
{
	color: black;
}

table
{
	border-collapse: collapse;
}
